.Wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden !important;
    align-items: center;
    font-family: var(--font-acorn);
    background-color: rgb(0, 0, 0);
    transition: opacity 0.8s ease-out;
    z-index: 999999;
    &__Headline {
        font-size: 68px;
        line-height: 100%;
        font-family: var(--font-acorn);
        text-transform: uppercase;
        @media (max-width: 1024px) {
            font-size: 58px;
        }
        @media (max-width: 768px) {
            font-size: 48px;
        }
        @media (max-width: 560px) {
            font-size: 36px;
        }
    }
    &__Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: animation 1s ease;
    }
    &__ContentWrapper {
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 1024px) {
            margin-bottom: 24px;
        }
        @media (max-width: 768px) {
            margin-bottom: 18px;
        }
        @media (max-width: 560px) {
            font-size: 8px;
            margin-bottom: 14px;
        }
    }
    &__Right {
        font-family: var(--font-gt);
        display: flex;
        padding: 6px;
        flex-direction: column;
        opacity: 0.8;
        text-align: right;
        @media (max-width: 768px) {
            padding: 2px;
        }
    }
    &__RightHeadline {
        font-size: 16px;
        margin-bottom: 4px;
        @media (max-width: 1024px) {
            font-size: 14px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 2px;
        }
        @media (max-width: 560px) {
            font-size: 8px;
            margin-bottom: 0px;
        }
    }
    &__RightText {
        font-size: 18px;
        color: #7c33ca;
        line-height: 100%;
        margin-bottom: 2px;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
        @media (max-width: 560px) {
            font-size: 10px;
        }
    }
    &__Text {
        font-size: 72px;
        line-height: 100%;
        font-family: var(--font-acorn);
        text-transform: uppercase;
        color: #7c33ca;
        @media (max-width: 1024px) {
            font-size: 58px;
        }
        @media (max-width: 768px) {
            font-size: 48px;
        }
        @media (max-width: 560px) {
            font-size: 38px;
        }
    }
}

.FadeEffect {
    opacity: 0;
    z-index: 999999;
    transition: opacity 0.8s ease-out;
}

.Demo {
    width: 100%;

    margin: auto;
    &__ProgressBar {
        height: 4px;
        background-color: rgba(162, 5, 206, 0.2);
        width: 100%;
        overflow: hidden;
    }
    &__ProgressBarValue {
        width: 100%;
        height: 100%;
        background-color: #7c33ca;
        animation: indeterminateAnimation 1s infinite linear;
        transform-origin: 0% 50%;
    }
}
@keyframes animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes indeterminateAnimation {
    0% {
        transform: translateX(0) scaleX(0);
    }
    40% {
        transform: translateX(0) scaleX(0.4);
    }
    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}
