.Timeline {
    display: flex;
    margin-bottom: 70px;
    align-items: center;
    @media (max-width: 1280px) {
        margin-bottom: 60px;
    }
    @media (max-width: 1024px) {
        margin-bottom: 50px;
    }
    @media (max-width: 768px) {
        margin-bottom: 44px;
    }
    @media (max-width: 560px) {
        margin-bottom: 38px;
        width: 380px;
    }
    @media (max-width: 420px) {
        width: 290px;
        margin-bottom: 32px;
    }
    &__Wrapper {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: 1024px) {
            gap: 8px;
        }
        &::before {
            content: " ";
            background: #ffffff5e;
            display: inline-block;
            position: absolute;
            left: 0px;
            width: 1px;
            top: 20px;
            height: 100%;
            z-index: 400;
        }
    }
    &__Content {
        padding-left: 20px;
        @media (max-width: 768px) {
            padding-left: 12px;
        }
        &::before {
            content: " ";
            background: #000;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 2px solid #e1e1e1;
            left: -9px;
            width: 15px;
            height: 15px;
            margin-top: 3px;
            z-index: 400;
            @media (max-width: 768px) {
                border: 1.6px solid #e1e1e1;
                left: -7.4px;
                width: 12px;
                height: 12px;
                margin-top: 3px;
            }
        }
    }
    &__ContentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        gap: 10px;
        @media (max-width: 1024px) {
            margin-bottom: 10px;
        }
        @media (max-width: 768px) {
            margin-bottom: 8px;
        }
    }
    &__ContentName {
        font-size: 20px;
        font-family: var(--font-gt);
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            margin-top: 4px;
            font-size: 12px;
        }
    }
    &__ContentNameLink {
        margin-right: 4px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-family: var(--font-pragmatica);
        @media (max-width: 1024px) {
            font-size: 12px;
        }
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
    &__ContentData {
        font-family: var(--font-gt);
        font-size: 16px;
        @media (max-width: 1024px) {
            font-size: 14px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
        }
        @media (max-width: 560px) {
            font-size: 10px;
        }
    }
    &__ContentText {
        width: 1050px;
        max-width: 100%;
        line-height: 160%;
        font-size: 14px;
        font-family: var(--font-pragmatica);
        text-align: start;
        @media (max-width: 1440px) {
            width: 900px;
        }
        @media (max-width: 1280px) {
            width: 680px;
        }
        @media (max-width: 1024px) {
            font-size: 12px;
            width: 580px;
        }
        @media (max-width: 768px) {
            width: 500px;
        }
        @media (max-width: 560px) {
            width: 380px;
            font-size: 10px;
        }
        @media (max-width: 420px) {
            width: 270px;
        }
    }
}
