.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__Headline {
    font-size: 94px;
    padding-top: 80px;
    line-height: 100%;
    font-family: var(--font-acorn);
    margin-bottom: 12px;
  }
  &__Text {
    font-size: 18px;
    line-height: 100%;
    font-family: var(--font-pragmatica);
    margin-bottom: 100px;
    p {
      strong {
        font-family: var(--font-gt);
      }
    }
  }
}
