.Wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 1440px) {
        gap: 16px;
    }
    @media (max-width: 1024px) {
        gap: 14px;
    }
    @media (max-width: 768px) {
        gap: 12px;
    }
    @media (max-width: 560px) {
        gap: 10px;
    }
    @media (max-width: 420px) {
        gap: 8px;
    }
    &__SkillsBox {
        padding: 12px 20px;
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        background-color: #303030;
        transition: 0.3s;
        color: #fff;
        @media (max-width: 1440px) {
            padding: 8px 16px;
            gap: 8px;
        }
        @media (max-width: 1024px) {
            padding: 6px 16px;
        }
        @media (max-width: 768px) {
            padding: 6px 14px;
        }
        @media (max-width: 560px) {
            padding: 6px 12px;
            gap: 6px;
        }
        @media (max-width: 420px) {
            padding: 4px 8px;
            gap: 4px;
        }
        &:hover {
            transform: scale(0.92);
        }
    }
    &__SkillIcon {
        height: 40px;
        @media (max-width: 1440px) {
            height: 34px;
        }
        @media (max-width: 1024px) {
            height: 28px;
        }
        @media (max-width: 768px) {
            height: 24px;
        }
        @media (max-width: 560px) {
            height: 18px;
        }
        @media (max-width: 420px) {
            height: 16px;
        }
    }
    &__SkillName {
        font-size: 22px;
        font-family: var(--font-pragmatica);
        text-transform: capitalize;
        @media (max-width: 1440px) {
            font-size: 18px;
        }
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
        @media (max-width: 560px) {
            font-size: 12px;
        }
        @media (max-width: 420px) {
            font-size: 11px;
        }
    }
}
