.Projects {
    display: flex;
    gap: 30px;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 1280px) {
        gap: 24px;
    }
    @media (max-width: 1024px) {
        gap: 20px;
    }
    @media (max-width: 560px) {
        flex-direction: column;
        align-items: center;
    }
}
.Project {
    position: relative;
    border-radius: 30px;
    transition: 0.4s;
    width: 450px;
    height: 240px;
    box-shadow: 0px 10px 20px 0px #00000094;
    @media (max-width: 1640px) {
        width: 350px;
        height: 218px;
        border-radius: 26px;
    }
    @media (max-width: 1440px) {
        width: 330px;
        height: 204px;
        border-radius: 24px;
    }
    @media (max-width: 1280px) {
        width: 420px;
        height: 224px;
        border-radius: 20px;
    }
    @media (max-width: 1024px) {
        width: 320px;
        height: 180px;
        border-radius: 18px;
    }
    @media (max-width: 768px) {
        width: 230px;
        height: 140px;
        border-radius: 14px;
    }
    @media (max-width: 560px) {
        width: 380px;
        height: 200px;
        border-radius: 10px;
    }
    @media (max-width: 420px) {
        width: 280px;
        height: 160px;
        border-radius: 6px;
    }

    &__Background {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &__Video {
        width: 100%;
        height: 100%;
        border-radius: 14px;
        object-fit: cover;
    }
    &__BackgroundImage {
        border-radius: 14px;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &__ProjectAboutBackground {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        opacity: 0;
        left: 0;
        background-color: rgba(#38023c, 0.69);
        transition: 0.4s;
    }
    &__ProjectAbout {
        padding: 20px 40px;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        width: 100.1%;
        left: 0;
        transition: 0.4s;
        height: 100.1%;
        border-radius: 14px;
        text-align: center;
        transition: 0.4s;
        @media (max-width: 768px) {
            padding: 12px 30px;
        }
        @media (max-width: 560px) {
            padding: 16px 34px;
        }
    }

    &__ProjectHeadline {
        font-size: 18px;
        position: relative;
        z-index: 1;

        font-family: var(--font-acorn);
        margin-bottom: 8px;
        @media (max-width: 768px) {
            font-size: 14px;
            margin-bottom: 2px;
        }
        @media (max-width: 560px) {
            font-size: 16px;
            margin-bottom: 6px;
        }
        @media (max-width: 420px) {
            font-size: 16px;
            margin-bottom: 4px;
        }
    }
    &__ProjectText {
        font-size: 14px;
        z-index: 1;
        position: relative;
        font-family: var(--font-pragmatica);
        margin-bottom: 16px;
        @media (max-width: 768px) {
            font-size: 10px;
            margin-bottom: 10px;
        }
        @media (max-width: 560px) {
            font-size: 12px;
            margin-bottom: 12px;
        }
        @media (max-width: 420px) {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
    &__ProjectDateWrapper {
        display: flex;
        z-index: 1;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        @media (max-width: 768px) {
            gap: 6px;
        }
        @media (max-width: 560px) {
            gap: 10px;
        }
        @media (max-width: 420px) {
            gap: 8px;
        }
    }
    &__ProjectDateIcon {
        width: 24px;
        z-index: 1;
        height: 24px;
        @media (max-width: 768px) {
            width: 16px;
            height: 16px;
        }
        @media (max-width: 560px) {
            width: 20px;
            height: 20px;
        }
        @media (max-width: 420px) {
            width: 18px;
            height: 18px;
        }
    }

    &__ProjectDate {
        font-size: 16px;
        @media (max-width: 768px) {
            font-size: 12px;
        }
        @media (max-width: 560px) {
            font-size: 14px;
        }
    }
    &__ProjectFrameworkWrapper {
        display: flex;
        z-index: 1;
        gap: 8px;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            gap: 6px;
        }
    }
    &__ProjectFramework {
        width: 26px;
        height: 26px;
        @media (max-width: 768px) {
            width: 18px;
            height: 18px;
        }
        @media (max-width: 560px) {
            width: 22px;
            height: 22px;
        }
        @media (max-width: 420px) {
            width: 20px;
            height: 20px;
        }
    }
    &__ProjectsLinksWrapper {
        display: flex;
        gap: 22px;
        justify-content: center;

        align-items: center;
    }
    &__ProjectsLink {
        list-style: none;
        text-decoration: none;
        transition: 0.4s;
        border-radius: 14px;

        color: #fce2ff;

        &:hover {
            transform: scale(0.9);
            background-color: rgba(#ecd7ff, 0.2);
            transition: 0.3s;
        }
    }
}

.Project:hover .Project__ProjectAbout {
    opacity: 1;
    border-radius: 14px;
}
.Project:hover .Project__ProjectAboutBackground {
    backdrop-filter: blur(4px);
    opacity: 1;
    border-radius: 14px;
}

.PaginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    @media (max-width: 768px) {
        padding-top: 24px;
    }
    @media (max-width: 560px) {
        padding-top: 16px;
    }
    @media (max-width: 420px) {
        padding-top: 10px;
    }
}

.Pagination {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    padding: 12px 20px;
    background-color: rgba(214, 0, 233, 0.094);
    @media (max-width: 1024px) {
        border-radius: 30px;
        padding: 10px 18px;
    }
    @media (max-width: 768px) {
        border-radius: 26px;
        padding: 8px 16px;
    }
    @media (max-width: 560px) {
        border-radius: 22px;
        padding: 6px 12px;
    }
    @media (max-width: 420px) {
        border-radius: 18px;
        padding: 6px 10px;
    }
    &__Button {
        padding: 8px 14px;
        background-color: rgba(233, 0, 254, 0.25);
        color: #fce2ff;
        border: none;
        outline: none;
        font-size: 16px;
        font-family: var(--font-gt);
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: 0.4s;
        gap: 6px;
        border-radius: 20px;
        @media (max-width: 1024px) {
            padding: 6px 13px;
            gap: 4px;
            border-radius: 18px;
        }
        @media (max-width: 768px) {
            border-radius: 16px;
        }
        @media (max-width: 560px) {
            padding: 4px 12px;
            font-size: 14px;
            border-radius: 14px;
        }
        @media (max-width: 420px) {
            padding: 4px 10px;
            font-size: 12px;
            border-radius: 12px;
        }
        &:hover {
            background-color: rgba(233, 0, 254, 0.394);
        }
        &--disabled {
            background-color: rgba(233, 0, 254, 0.057);
            color: #fce2ff95;
        }
    }
    &__ButtonIcon {
        width: 16px;
        height: 16px;
        @media (max-width: 768px) {
            width: 12px;
            height: 12px;
        }
    }
    &__Element {
        transition: 0.4s;
        padding: 6px 12px;
        cursor: pointer;
        font-size: 16px;
        color: #fce2ff;
        border-radius: 6px;
        background-color: rgba(154, 5, 168, 0.467);
        @media (max-width: 768px) {
            padding: 4px 10px;
            font-size: 14px;
        }
        @media (max-width: 560px) {
            display: none;
        }

        &:hover {
            background-color: rgba(233, 0, 254, 0.505);
        }
        &--active {
            transition: 0.4s;
            background-color: rgba(233, 0, 254, 0.785);
        }
    }
}
