.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__Projects {
        width: 80%;
        @media (max-width: 420px) {
            width: 92%;
        }
    }
    &__MainProjectHeadline {
        text-align: center;
        font-size: 64px;
        font-family: var(--font-acorn);
        margin-bottom: 40px;
        @media (max-width: 1280px) {
            margin-bottom: 34px;
            font-size: 58px;
        }
        @media (max-width: 1024px) {
            margin-bottom: 26px;
            font-size: 52px;
        }
        @media (max-width: 560px) {
            margin-bottom: 20px;
            font-size: 48px;
        }
        @media (max-width: 420px) {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }
    &__Button {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        @media (max-width: 1280px) {
            margin-bottom: 80px;
            margin-top: 34px;
        }
        @media (max-width: 1024px) {
            margin-bottom: 70px;
            margin-top: 28px;
        }
        @media (max-width: 560px) {
            margin-bottom: 60px;
            margin-top: 24px;
        }
        @media (max-width: 420px) {
            margin-bottom: 54px;
            margin-top: 18px;
        }
    }
}
.Content {
    padding-top: 130px;
    min-height: 90vh;
    @media (max-width: 1024px) {
        padding-top: 110px;
    }
    @media (max-width: 560px) {
        padding-top: 90px;
    }
    @media (max-width: 420px) {
        padding-top: 70px;
    }
}
.Background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    z-index: -1;
    &__BtnBg {
        opacity: 1;
        background: #c700da url("/images/background.jpg");
        background-size: 1200%;
        transform: rotate(3deg) translate(0px, -10px) scale(1.1);
        height: 90vh;
        animation: btnHover 40s linear infinite;
    }
    &__Fade {
        background: linear-gradient(0deg, #000000 0%, #00000033 100%);
        position: absolute;
        width: 100%;
        height: 90.2vh;
        transform: rotate(3deg) translate(0px, -10px) scale(1.1);
        top: 0;
        left: 0;
    }
}
@keyframes btnHover {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 600%;
    }
}
