.Wrapper {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__Projects {
        width: 60%;
    }
}
.Background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    &__BtnBg {
        opacity: 1;
        background: #c700da url("/images/background.jpg");
        background-size: 600%;
        height: 70vh;
        animation: btnHover 80s linear;
    }
    &__Fade {
        background: linear-gradient(0deg, #000000 0%, #00000033 100%);
        position: absolute;
        width: 100%;
        height: 70vh;
        top: 0;
        left: 0;
    }
}
@keyframes btnHover {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 600%;
    }
}
