.Contact {
  width: 60%;
  &__Form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: var(--font-acorn);
  }
  //   &__InputWrapper {
  //   }
  &__Input {
    margin-bottom: 8px;
    width: 100%;
    padding: 24px;
    background-color: transparent;
    border: 0.8px solid rgba(#fff, 0.3);
    font-size: 18px;
    font-family: var(--font-pragmatica);
    font-weight: 700;
    color: #fff;
    &--error {
      border: 0.8px solid #ff0000;
      color: #ff0000;
      &::placeholder {
        color: #ff0000;
      }
    }
  }
  &__TextArea {
    margin-bottom: 8px;
    width: 100%;
    padding: 12px;
    min-height: 200px;
    // outline: none;
    transition: 0.3s;
    color: #fff;
    background-color: transparent;
    border: 0.8px solid rgba(#fff, 0.3);
    font-size: 16px;
    font-family: var(--font-pragmatica);
    font-weight: 700;
    &--error {
      border: 0.8px solid #ff0000;
      color: #ff0000;
      &::placeholder {
        color: #ff0000;
      }
    }
  }
  &__Error {
    color: #ff0000;
    font-size: 14px;
  }
  &__Button {
    font-size: 20px;
    font-family: var(--font-gt);

    max-width: 260px;
    border: none;
    color: #020a13;
    border-radius: 5px;
    padding: 15px 40px;
    transition: 0.4s;

    margin-bottom: 3rem;
    &:hover {
      transition: 0.4s;
      transform: scale(0.9);
      opacity: 0.9;
    }
  }
  &__SubmitMassage {
    color: #fff;
    font-size: 18px;
  }
}
