.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 100px;
    font-family: var(--font-acorn);
    @media (max-width: 1280px) {
        padding-top: 40px;
        margin-bottom: 90px;
    }
    @media (max-width: 1024px) {
        padding-top: 0px;
        margin-bottom: 70px;
    }
    &__Headline {
        font-size: 100px;
        line-height: 100%;
        @media (max-width: 1280px) {
            font-size: 80px;
        }
        @media (max-width: 1024px) {
            font-size: 60px;
        }
        @media (max-width: 560px) {
            font-size: 50px;
        }
        @media (max-width: 420px) {
            font-size: 48px;
        }
    }

    &__Skills {
        font-size: 50px;
        font-family: var(--font-acorn);
        margin-bottom: 28px;
        font-weight: 700;
        line-height: 100%;
        @media (max-width: 1280px) {
            font-size: 40px;
            margin-bottom: 24px;
        }
        @media (max-width: 1024px) {
            font-size: 30px;
            margin-bottom: 20px;
        }
        @media (max-width: 560px) {
            font-size: 24px;
            margin-bottom: 16px;
        }
        @media (max-width: 420px) {
            font-size: 22px;
            margin-bottom: 12px;
        }
    }
    &__SkillsValue {
        font-size: 50px;
        color: #b747ff;
        font-family: var(--font-acorn);
        font-weight: 700;
        line-height: 100%;
        @media (max-width: 1280px) {
            font-size: 40px;
        }
        @media (max-width: 1024px) {
            font-size: 30px;
        }
        @media (max-width: 560px) {
            font-size: 24px;
        }
        @media (max-width: 420px) {
            font-size: 22px;
        }
    }
    &__Text {
        line-height: 100%;
        font-family: var(--font-roman);
        font-size: 30px;
        margin-bottom: 12px;

        @media (max-width: 1024px) {
            font-size: 24px;
        }
        @media (max-width: 560px) {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
    &__ButtonsWrapper {
        display: flex;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 24px;
        }
        @media (max-width: 560px) {
            gap: 18px;
        }
    }
    &__Location {
        display: flex;
        gap: 12px;
        font-size: 18px;
        font-weight: 400;
        font-family: var(--font-roman);
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            gap: 12px;
            font-size: 14px;
            margin-bottom: 20px;
        }
        @media (max-width: 560px) {
            gap: 8px;
            font-size: 16px;
        }
    }
    &__LocationIcon {
        width: 28px;
        transform: translateY(-3px);
        height: 28px;
        @media (max-width: 1024px) {
            height: 22px;
            width: 22px;
        }
        @media (max-width: 560px) {
            height: 14px;
            transform: translateY(-2px);
            width: 14px;
        }
    }
    &__Button {
        background-color: rgba(#880094, 0.28);

        list-style: none;

        min-width: 240px;
        text-align: center;
        text-decoration: none;
        font-family: var(--font-acorn);
        color: #f2cbf6;
        padding: 8px 50px;
        font-size: 30px;
        transition: 0.4s;
        border-radius: 12px;
        @media (max-width: 1280px) {
            min-width: 200px;
            padding: 8px 50px;
            font-size: 26px;
            border-radius: 12px;
        }
        @media (max-width: 1024px) {
            min-width: 160px;
            padding: 8px 42px;
            font-size: 24px;

            border-radius: 12px;
        }
        @media (max-width: 768px) {
            min-width: 120px;
            padding: 8px 38px;
            font-size: 22px;
            border-radius: 10px;
        }
        @media (max-width: 560px) {
            min-width: 110px;
            padding: 8px 34px;
            font-size: 20px;

            border-radius: 8px;
        }
        @media (max-width: 420px) {
            min-width: 60px;
            padding: 6px 28px;
            font-size: 16px;

            border-radius: 6px;
        }
        &:hover {
            transition: 0.4s;
            transform: scale(0.92);
            background-color: rgba(#880094, 0.6);
        }
    }
}
@keyframes btnHover {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 600%;
    }
}
