.Navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 40px;
    @media (max-width: 1024px) {
        padding: 34px 34px 20px;
    }

    @media (max-width: 560px) {
        padding: 24px 20px 14px;
    }
    &__Box {
        display: flex;
        gap: 20px;
        padding: 20px 12px;
        border-radius: 30px;
        transition: 0.6s;
        position: relative;
        @media (max-width: 1024px) {
            gap: 12px;
            padding: 14px 10px;
            border-radius: 24px;
        }
        @media (max-width: 560px) {
            gap: 4px;
            padding: 14px 10px;
            border-radius: 24px;
        }
    }
    &__Background {
        position: absolute;
        width: 100%;
        transition: 0.6s;
        border-radius: 30px;
        height: 100%;
        z-index: 0;
        transform: translate(-12px, -20px);
        &--active {
            transition: 0.6s;
            backdrop-filter: blur(6px);
            background-color: rgba(#5c0864, 0.59);
        }
    }
    &__Link {
        list-style: none;
        text-decoration: none;
        color: #fce2ff;
        z-index: 1;
    }
    &__Text {
        padding: 10px 24px;
        border-radius: 24px;
        font-family: var(--font-pragmatica);
        font-weight: 700;
        font-size: 18px;
        @media (max-width: 1024px) {
            font-size: 16px;
            padding: 6px 16px;
            border-radius: 18px;
        }
        @media (max-width: 560px) {
            gap: 14px;
            padding: 6px 14px;
            border-radius: 18px;
        }
        &--active {
            background-color: rgba(#ca09db, 0.25);
        }
    }
}
