.Project {
    padding: 50px 10%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-acorn);
    &__Headline {
        font-size: 80px;
        line-height: 110%;
        margin-bottom: 18px;
    }
    &__Slug {
        font-size: 24px;
        font-family: var(--font-Fexin);
        line-height: 105%;
        color: #f9dafcb7;
        margin-bottom: 20px;
    }
    &__Frameworks {
        display: flex;
        gap: 20px;
        margin-bottom: 82px;
    }
    &__Framework {
        width: 40px;
        height: 40px;
    }
    &__LaptopWrapper {
        width: 1200px;
        overflow: hidden;
        height: 630px;
        margin-bottom: 40px;
        position: relative;
    }
    &__Laptop {
        width: 100%;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        position: absolute;
    }
    &__LaptopBackground {
        height: 86%;
        z-index: 0;
        left: 50%;
        border-radius: 30px;
        transform: translate(-50%, 10px);
        position: absolute;
    }
    &__ButtonsWrapper {
        display: flex;
        margin-bottom: 80px;
        gap: 30px;
    }
    &__TextWrapper {
        // list-style: none;
        display: flex;
        margin-bottom: 140px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    &__Text {
        text-align: start;
        font-size: 32px;
        font-family: var(--font-pragmatica);
        font-weight: 700;
    }
    &__ImagesWrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
}
